<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EH02@1a000000</key>
	<dict>
		<key>line</key>
		<string>            EH02@1a000000  &lt;class AppleUSBEHCIPCI, id 0x100000264</string>
		<key>indent</key>
		<integer>12</integer>
		<key>id</key>
		<string>0x100000264</string>
		<key>name</key>
		<string>EH02</string>
		<key>type</key>
		<string>AppleUSBEHCIPCI</string>
		<key>items</key>
		<dict/>
		<key>address</key>
		<string>1a000000</string>
		<key>ports</key>
		<dict>
			<key>01000000</key>
			<dict>
				<key>line</key>
				<string>              PR21@1a100000  &lt;class AppleUSBEHCIPort, id 0x100000305</string>
				<key>indent</key>
				<integer>14</integer>
				<key>id</key>
				<string>0x1000002b8</string>
				<key>name</key>
				<string>PR21</string>
				<key>type</key>
				<string>AppleUSBEHCIPort</string>
				<key>items</key>
				<array/>
				<key>full_name</key>
				<string>PR21@1a100000</string>
				<key>address</key>
				<string>1a100000</string>
				<key>port</key>
				<string>01000000</string>
				<key>enabled</key>
				<true/>
			</dict>
			<key>02000000</key>
			<dict>
				<key>line</key>
				<string>              PR22@1a200000  &lt;class AppleUSBEHCIPort, id 0x100000306</string>
				<key>indent</key>
				<integer>14</integer>
				<key>id</key>
				<string>0x1000002b9</string>
				<key>name</key>
				<string>PR22</string>
				<key>type</key>
				<string>AppleUSBEHCIPort</string>
				<key>items</key>
				<array/>
				<key>full_name</key>
				<string>PR22@1a200000</string>
				<key>address</key>
				<string>1a200000</string>
				<key>port</key>
				<string>02000000</string>
				<key>enabled</key>
				<true/>
			</dict>
			<key>03000000</key>
			<dict>
				<key>line</key>
				<string>              PR23@1a300000  &lt;class AppleUSBEHCIPort, id 0x100000307</string>
				<key>indent</key>
				<integer>14</integer>
				<key>id</key>
				<string>0x1000002ba</string>
				<key>name</key>
				<string>PR23</string>
				<key>type</key>
				<string>AppleUSBEHCIPort</string>
				<key>items</key>
				<array/>
				<key>full_name</key>
				<string>PR23@1a300000</string>
				<key>address</key>
				<string>1a300000</string>
				<key>port</key>
				<string>03000000</string>
				<key>enabled</key>
				<true/>
			</dict>
			<key>04000000</key>
			<dict>
				<key>line</key>
				<string>              PR24@1a400000  &lt;class AppleUSBEHCIPort, id 0x100000308</string>
				<key>indent</key>
				<integer>14</integer>
				<key>id</key>
				<string>0x1000002bb</string>
				<key>name</key>
				<string>PR24</string>
				<key>type</key>
				<string>AppleUSBEHCIPort</string>
				<key>items</key>
				<array/>
				<key>full_name</key>
				<string>PR24@1a400000</string>
				<key>address</key>
				<string>1a400000</string>
				<key>port</key>
				<string>04000000</string>
				<key>enabled</key>
				<true/>
			</dict>
			<key>05000000</key>
			<dict>
				<key>line</key>
				<string>              PR25@1a500000  &lt;class AppleUSBEHCIPort, id 0x100000309</string>
				<key>indent</key>
				<integer>14</integer>
				<key>id</key>
				<string>0x1000002bd</string>
				<key>name</key>
				<string>PR25</string>
				<key>type</key>
				<string>AppleUSBEHCIPort</string>
				<key>items</key>
				<array/>
				<key>full_name</key>
				<string>PR25@1a500000</string>
				<key>address</key>
				<string>1a500000</string>
				<key>port</key>
				<string>05000000</string>
				<key>enabled</key>
				<true/>
			</dict>
			<key>06000000</key>
			<dict>
				<key>line</key>
				<string>              PR26@1a600000  &lt;class AppleUSBEHCIPort, id 0x10000030a</string>
				<key>indent</key>
				<integer>14</integer>
				<key>id</key>
				<string>0x1000002bf</string>
				<key>name</key>
				<string>PR26</string>
				<key>type</key>
				<string>AppleUSBEHCIPort</string>
				<key>items</key>
				<array/>
				<key>full_name</key>
				<string>PR26@1a600000</string>
				<key>address</key>
				<string>1a600000</string>
				<key>port</key>
				<string>06000000</string>
				<key>enabled</key>
				<true/>
			</dict>
		</dict>
		<key>parent</key>
		<string>EH02@1A</string>
		<key>parent_name</key>
		<string>EH02</string>
		<key>acpi_path</key>
		<string>IOACPIPlane:/_SB/PCI0@0/EH02@1a0000</string>
		<key>acpi_address</key>
		<string>0x001A0000</string>
	</dict>
	<key>EH01@1d000000</key>
	<dict>
		<key>line</key>
		<string>            EH01@1d000000  &lt;class AppleUSBEHCIPCI, id 0x10000026a</string>
		<key>indent</key>
		<integer>12</integer>
		<key>id</key>
		<string>0x10000026a</string>
		<key>name</key>
		<string>EH01</string>
		<key>type</key>
		<string>AppleUSBEHCIPCI</string>
		<key>items</key>
		<dict/>
		<key>address</key>
		<string>1d000000</string>
		<key>ports</key>
		<dict>
			<key>01000000</key>
			<dict>
				<key>line</key>
				<string>              PR11@1d100000  &lt;class AppleUSBEHCIPort, id 0x100000311</string>
				<key>indent</key>
				<integer>14</integer>
				<key>id</key>
				<string>0x1000002bc</string>
				<key>name</key>
				<string>PR11</string>
				<key>type</key>
				<string>AppleUSBEHCIPort</string>
				<key>items</key>
				<array>
					<string>    - MIIIW USB Receiver</string>
					<string>    - Flash Card Reader/Writer</string>
				</array>
				<key>full_name</key>
				<string>PR11@1d100000</string>
				<key>address</key>
				<string>1d100000</string>
				<key>port</key>
				<string>01000000</string>
				<key>enabled</key>
				<true/>
			</dict>
			<key>02000000</key>
			<dict>
				<key>line</key>
				<string>              PR12@1d200000  &lt;class AppleUSBEHCIPort, id 0x100000312</string>
				<key>indent</key>
				<integer>14</integer>
				<key>id</key>
				<string>0x1000002be</string>
				<key>name</key>
				<string>PR12</string>
				<key>type</key>
				<string>AppleUSBEHCIPort</string>
				<key>items</key>
				<array/>
				<key>full_name</key>
				<string>PR12@1d200000</string>
				<key>address</key>
				<string>1d200000</string>
				<key>port</key>
				<string>02000000</string>
				<key>enabled</key>
				<true/>
			</dict>
			<key>03000000</key>
			<dict>
				<key>line</key>
				<string>              PR13@1d300000  &lt;class AppleUSBEHCIPort, id 0x100000313</string>
				<key>indent</key>
				<integer>14</integer>
				<key>id</key>
				<string>0x1000002c0</string>
				<key>name</key>
				<string>PR13</string>
				<key>type</key>
				<string>AppleUSBEHCIPort</string>
				<key>items</key>
				<array/>
				<key>full_name</key>
				<string>PR13@1d300000</string>
				<key>address</key>
				<string>1d300000</string>
				<key>port</key>
				<string>03000000</string>
				<key>enabled</key>
				<true/>
			</dict>
			<key>04000000</key>
			<dict>
				<key>line</key>
				<string>              PR14@1d400000  &lt;class AppleUSBEHCIPort, id 0x100000314</string>
				<key>indent</key>
				<integer>14</integer>
				<key>id</key>
				<string>0x1000002c2</string>
				<key>name</key>
				<string>PR14</string>
				<key>type</key>
				<string>AppleUSBEHCIPort</string>
				<key>items</key>
				<array/>
				<key>full_name</key>
				<string>PR14@1d400000</string>
				<key>address</key>
				<string>1d400000</string>
				<key>port</key>
				<string>04000000</string>
				<key>enabled</key>
				<true/>
			</dict>
			<key>05000000</key>
			<dict>
				<key>line</key>
				<string>              PR15@1d500000  &lt;class AppleUSBEHCIPort, id 0x100000315</string>
				<key>indent</key>
				<integer>14</integer>
				<key>id</key>
				<string>0x1000002c4</string>
				<key>name</key>
				<string>PR15</string>
				<key>type</key>
				<string>AppleUSBEHCIPort</string>
				<key>items</key>
				<array/>
				<key>full_name</key>
				<string>PR15@1d500000</string>
				<key>address</key>
				<string>1d500000</string>
				<key>port</key>
				<string>05000000</string>
				<key>enabled</key>
				<true/>
			</dict>
			<key>06000000</key>
			<dict>
				<key>line</key>
				<string>              PR16@1d600000  &lt;class AppleUSBEHCIPort, id 0x100000316</string>
				<key>indent</key>
				<integer>14</integer>
				<key>id</key>
				<string>0x1000002c7</string>
				<key>name</key>
				<string>PR16</string>
				<key>type</key>
				<string>AppleUSBEHCIPort</string>
				<key>items</key>
				<array/>
				<key>full_name</key>
				<string>PR16@1d600000</string>
				<key>address</key>
				<string>1d600000</string>
				<key>port</key>
				<string>06000000</string>
				<key>enabled</key>
				<true/>
			</dict>
			<key>07000000</key>
			<dict>
				<key>line</key>
				<string>              PR17@1d700000  &lt;class AppleUSBEHCIPort, id 0x100000317</string>
				<key>indent</key>
				<integer>14</integer>
				<key>id</key>
				<string>0x1000002ca</string>
				<key>name</key>
				<string>PR17</string>
				<key>type</key>
				<string>AppleUSBEHCIPort</string>
				<key>items</key>
				<array/>
				<key>full_name</key>
				<string>PR17@1d700000</string>
				<key>address</key>
				<string>1d700000</string>
				<key>port</key>
				<string>07000000</string>
				<key>enabled</key>
				<true/>
			</dict>
			<key>08000000</key>
			<dict>
				<key>line</key>
				<string>              PR18@1d800000  &lt;class AppleUSBEHCIPort, id 0x100000318</string>
				<key>indent</key>
				<integer>14</integer>
				<key>id</key>
				<string>0x1000002cb</string>
				<key>name</key>
				<string>PR18</string>
				<key>type</key>
				<string>AppleUSBEHCIPort</string>
				<key>items</key>
				<array/>
				<key>full_name</key>
				<string>PR18@1d800000</string>
				<key>address</key>
				<string>1d800000</string>
				<key>port</key>
				<string>08000000</string>
				<key>enabled</key>
				<true/>
			</dict>
		</dict>
		<key>parent</key>
		<string>EH01@1D</string>
		<key>parent_name</key>
		<string>EH01</string>
		<key>acpi_path</key>
		<string>IOACPIPlane:/_SB/PCI0@0/EH01@1d0000</string>
		<key>acpi_address</key>
		<string>0x001D0000</string>
	</dict>
</dict>
</plist>
